rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
  	match /companies/{companyID}{
      allow read: if request.auth.token.companyID == companyID;
      allow list: if request.auth.token.appAdmin == true;
    }
  
    match /users/{userID} {
      allow read: if request.auth.token.email == userID;
      allow write: if false;
    }
    
    match /cases/{caseID} {
      allow read, update, delete: if request.auth.token.companyID == resource.data.companyID || 
                                     request.auth.token.appAdmin == true;
    }
  }
}