<a id="homelink" href="./home?company={{or company.id whistle.companyID ''}}" class="index-link logo-container" aria-label="{{t 'header.homePageAriaLabel'}}">
    <img src="logo.png" class="logo small-shadow" alt="Logo Whistleblowing"/>
    <span class="h1 app-title"></span>
</a>