<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Whistleblowing">
    <meta name="author" content="Computer Studio">
    <link href="favicon.png" rel="icon">
    <meta name="theme-color" content="#ca272c">
    <title>Whistleblowing</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" media="screen">


  </head>




  <body>


    <div class="body-container">

    <header id="app-header">
        {{> header }}
    </header>






    <main>

        {{{ body }}}

    </main>



    <footer>

    </footer>









    </div>
  </body>
</html>
