<form method="POST" action="" enctype="application/x-www-form-urlencoded">
  <div class="mb-3">
    <label for="case" class="form-label">Κωδικός αναφοράς</label>
    <input name="id" type="text" class="form-control" id="case" value="{{caseId}}">
  </div>
  <div class="mb-3">
    <label for="pin" class="form-label">PIN αναφοράς</label>
    <input name="pin" type="password" class="form-control" id="pin">
  </div>
  <button type="submit" class="btn btn-primary">Προβολή αναφοράς</button>
</form>
<p>{{thisPagePath}}</p>
