
    <form action="" method="post" enctype="multipart/form-data" id="whistleblowing-form">
            <h1 class="center-left">Υποβολή νέας αναφοράς</h1>

          
            <input type="hidden" readonly value="{{company.id}}" id="company" name="company">
          
        

            <div class="">
                <label for="companyName">Οργανισμός</label>
                <input type="text" class="form-control" id="companyName" name="companyName" value="{{company.name}}" disabled>
            </div>
            <small>Πριν συνεχίσετε, βεβαιωθείτε ότι οδηγηθήκατε σε αυτή τη σελίδα από το επίσημο website του οργανισμού σας 
                κι όχι από άλλη προέλευση (όπως μέσω κάποιου link σε e-mail που λάβατε), γιατί η αναφορά ενδέχεται να αποσταλεί σε μη έμπιστο προορισμό 
                κι όχι στον υπεύθυνο του οργανισμού σας.</small>
            <hr>
            
            <div>

                <div class="">
                    <label for="relationship" class="form-label">Αποκτήσατε πληροφορίες σχετικά με τα καταγγελλόμενα εντός του εργασιακού πλαισίου του Οργανισμού {{company.name}}; *</label>
                    <small>Ως εργασιακό πλαίσιο νοούνται τρέχουσες, παλαιότερες ή προσδοκώμενες εργασιακές δραστηριότητες, ανεξαρτήτως της φύσης των εν λόγω δραστηριοτήτων, μέσω των οποίων αποκτήσατε πληροφορίες σχετικά με παραβιάσεις του ν. 4990/2022, ως ισχύει και στο πλαίσιο των οποίων υπάρχει πιθανότητα να υποστείτε αντίποινα αν τις αναφέρετε.</small>
                    <select id="relationship" name="relationship" class="form-control" aria-label="Εργασιακή σχέση" required>
                        <option value class="d-none">Παρακαλώ επιλέξτε... </option>
                        <option value="Yes">Ναι</option>
                        <option value="No">Όχι</option>
                    </select>
                    <div id="invalid-relationship-info" class="bold my-2 d-none"><small>
                        <span class="red">
                            Εφόσον δεν αποκτήσατε πληροφορίες σχετικά με τα καταγγελλόμενα εντός του εργασιακού πλαισίου του Οργανισμού σας, δεν μπορείτε να υποβάλετε αναφορά μέσω αυτής της πλατφόρμας. 
                            Ωστόσο, έχετε τη δυνατότητα υποβολής καταγγελίας στη γενική πλατφόρμα καταγγελιών της ΕΑΔ
                        (<a href="https://aead.gr/submit-complaint">https://aead.gr/submit-complaint</a>).</span>   
                    </small></div>
                </div>

                <div class="mb-3"><fieldset>
                    <legend class="mt-2">Πότε συνέβη το περιστατικό; (προαιρετικά)</legend>
                    <div class="form-check">
                        <input class="form-check-input generaldate" type="radio" name="datetype" value="before5years" id="before5years">
                        <label class="form-check-label" for="before5years">
                            Περισσότερα από 5 χρόνια πριν
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input generaldate" type="radio" name="datetype" value="recent5years" id="recent5years" required>
                        <label class="form-check-label" for="recent5years">
                            Λιγότερο από 5 χρόνια πριν
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="datetype" value="specificdate" id="specificdate" autocomplete="off" aria-describedby="specificdateElaborate">
                        <label class="form-check-label" for="specificdate">
                            Συγκεκριμένη ημερομηνία
                        </label>
                        <p hidden id="specificdateElaborate">Στο επόμενο πεδίο επιλέξτε ημερομηνία με το date picker</p>
                        <div id="specificdatepicker" class="d-none ms-5">
                            <input type="text" class="form-control" name="dateFacade" id="dateFacade" placeholder="Επιλέξτε ημερομηνία παραβίασης" onfocus="actualDate.showPicker()" onclick="try{actualDate.showPicker()}catch(e){}" autocomplete="off">
                            <input name="date" type="date" id="actualDate" class="form-control input-hidden" onchange="dateFacade.value=facade(this.value)">
                        </div>
                    </div>

                    </fieldset></div>
            </div>

          
      
            <div class="">
                <label for="people" class="form-label">Παραθέστε τα φυσικά πρόσωπα που εμπλέκονται στην υπόθεση (προαιρετικά)</label>
                <input type="text" class="form-control" id="people" name="people" placeholder="Πρόσωπα" maxlength="100" autocomplete="off">
            </div>
      
            <div class="">
                <label for="description" class="form-label">Παρακαλούμε περιγράψτε αναλυτικά το περιστατικό  *</label>
                <small>Η τεκμηριωμένη απάντηση διευκολύνει σημαντικά τη διερεύνηση της αναφοράς</small>
                <textarea class="form-control" id="description" name="description" placeholder="Περιγραφή" rows="4" required></textarea>
            </div>
           
            <div class="">
                <label for="evidence" class="form-label">Αποδεικτικά στοιχεία (προαιρετικά)</label>
                <small>Μπορείτε να επισυνάψετε σχετικά αρχεία που υποστηρίζουν την αναφορά σας ή περιγράφουν το περιστατικό (όπως pdf, jpeg, κλπ με ανώτατο συνολικό όριο τα 10ΜΒ)</small>
                <input type="file" class="form-control" id="evidence" name="evidence" multiple data-input-size="10">
            </div>

            <div class="">
                <label class="form-label mt-4">Σημαντική ενημέρωση *</label>
                <small>Στην περίπτωση που η αναφορά σας δεν εμπίπτει από τις επιλογές οι οποίες αποτελούν το πεδίο εφαρμογής του ν. 4990/2022 (ΦΕΚ Α' 210), αλλά προκύπτουν ενδείξεις τέλεσης αξιόποινης πράξης που διώκεται αυτεπαγγέλτως τότε η αναφορά σας διαβιβάζεται στις αρμόδιες εισαγγελικές αρχές με παράλληλη σχετική ενημέρωσή σας.<br>
                Επισημαίνεται ότι σε αυτή την περίπτωση δεν συντρέχουν οι προϋποθέσεις προστασίας του ν. 4990/2022 (ΦΕΚ Α' 210).</small>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="notice" id="legal" required>
                    <label class="form-check-label" for="legal">
                        Έλαβα γνώση της ενημέρωσης
                    </label>
                </div>
            </div>

            <hr>

            <div class="">
                <label class="form-label mt-4">Πολιτική Προστασίας Προσωπικών Δεδομένων *</label>
                <small>Πατήστε το "Διαβάστε αναλυτικά" και ενημερωθείτε για την Πολιτική Προστασίας Προσωπικών Δεδομένων.</small>

                <a href="privacy?company={{company.id}}" class="d-inline-flex align-items-center gap-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                </svg>Διαβάστε αναλυτικά</a>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="gdpr" id="gdpr" required>
                    <label class="form-check-label" for="gdpr">
                        Διάβασα και κατανόησα την Πολιτική Προστασίας Προσωπικών Δεδομένων
                    </label>
                </div>
            </div>
        



            <div class="">
                <label>Θέλετε να αναφέρετε τα στοιχεία σας;</label>
                <small>Η υποβολή των στοιχείων δεν είναι υποχρεωτική. Μπορείτε να την υποβάλλετε και ανώνυμα την αναφορά. Σε περίπτωση που κάνετε αναφορά, είτε επώνυμα είτε ανώνυμα, οι πληροφορίες παραμένουν εμπιστευτικές.</small>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="contact" id="contact">
                <label class="form-check-label" for="contact">
                    Επιθυμώ να κάνω επώνυμη αναφορά.
                </label>
            </div>


           <div class="d-none ms-5" id="contactDiv">


                <div class="">
                    <label for="firstname" class="form-label mt-2">Όνομα</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" maxlength="50" >
                </div>

                 <div class="">
                    <label for="lastname" class="form-label mt-2">Επώνυμο</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" maxlength="50" >
                </div>
          
                <div class="">
                    <label for="email" class="form-label mt-2">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" maxlength="50" >
                </div>

                <div class="">
                    <label for="phone" class="form-label mt-2">Τηλέφωνο</label>
                    <input type="text" class="form-control" id="phone" name="phone" maxlength="50" >
                </div>

               <div class="form-check my-3">
                    <input class="form-check-input" type="checkbox" name="notify" value="true" id="notify">
                    <label class="form-check-label" for="notify">
                        Επιθυμώ να ενημερώνομαι μέσω e-mail ή/και SMS για την πορεία της υπόθεσης, πιθανή ερώτηση κλπ.
                        <small>Σε περίπτωση που δεν επιθυμείτε, θα πρέπει να επισκέπτεστε την πλατφόρμα για να παρακολουθείτε την εξέλιξη. </small>
                    </label>
                </div>             



            </div>

            <hr>
      
            <div>
                <small>Βεβαιωθείτε ότι μετά την υποβολή της αναφοράς, θα εμφανιστεί μήνυμα επιτυχούς παράδοσης.</small>
            </div>
            <div class="d-flex">
                <button type="submit" id="submit-btn" class="btn btn-primary my-3" disabled>ΥΠΟΒΟΛΗ</button>
                <div id="post-spinner" class="m-3 spinner-border text-primary d-none" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>


            
              
         
      </form>




    <script>
        console.debug('Company ID: ' + document.getElementById('company').value);
        
        // Date facade
        let facade = (inputDate) => isNaN(new Date(inputDate)) ? '' : (new Date(inputDate)).toLocaleDateString('el-GR', { dateStyle: 'full' });
        
        // Στοιχεία επικοινωνίας χρήστη
        document.getElementById('contact').addEventListener('change',e=>{
                if(e.target.checked){  // user wants to be contacted
                    document.getElementById('contactDiv').classList.remove('d-none');
                    document.querySelectorAll('#contactDiv input').forEach(input=>{
                        input.disabled = false;
                        if (input.classList.contains('form-control')) {input.setAttribute('required',true)};
                    }); 
                }else{  // user does not want to be contacted
                    document.getElementById('contactDiv').classList.add('d-none');
                    document.querySelectorAll('#contactDiv input').forEach(input=>{
                        input.removeAttribute('required');
                        input.disabled = true;
                    });
                }
        });

        // Επιβεβαίωση εργασιακής σχέσης
        document.getElementById('relationship').addEventListener('input',function(e){
            let value = e.target.value;
            console.log(value);
            if (value=="Yes"){
                document.getElementById('submit-btn').disabled = false;
                document.getElementById('invalid-relationship-info').classList.add('d-none');
            } else if (value=="No") {
                document.getElementById('submit-btn').disabled = true;
                document.getElementById('invalid-relationship-info').classList.remove('d-none');
            } else {
                document.getElementById('submit-btn').disabled = true;
                document.getElementById('invalid-relationship-info').classList.add('d-none');
            }
        });      

        // Επιλογές ημερομηνίας
        document.getElementsByName('datetype').forEach(radio=>{
            radio.addEventListener('change',function(e){
                if(e.target.value == 'specificdate'){
                    document.getElementById('specificdatepicker').classList.remove('d-none');
                    document.getElementById('dateFacade').setAttribute('required',true);
                }else{
                    document.getElementById('specificdatepicker').classList.add('d-none');
                    document.getElementById('dateFacade').removeAttribute('required');
                }
            });
        });

        // Loading spinner
        document.getElementById('submit-btn').addEventListener('click',()=>{
            if ( document.getElementById('whistleblowing-form').reportValidity() ) {     // if form is valid
                document.getElementById('post-spinner').classList.remove('d-none');     // show spinner
            }
        });

        // Έλεγχος ορθότητας αρχείου που ανεβαίνει
        document.querySelectorAll('input[data-input-size]').forEach(inputElement=>{
            inputElement.addEventListener("change",function(e){
                let maxSizeInMB = parseInt(this.getAttribute("data-input-size"));
                let maxSizeInBytes = maxSizeInMB * 1024 * 1024;
                let sumSize = 0;
                [...this.files].forEach(file=>{
                    sumSize += file.size;
                    if(file.size > maxSizeInBytes){
                        alert("Το αρχείο " + file.name + " υπερβαίνει το μέγιστο όριο των " + maxSizeInMB + " MB");
                        this.value = "";
                    } else if (sumSize > maxSizeInBytes) {
                        alert("Το συνολικό μέγεθος των αρχείων υπερβαίνει το μέγιστο όριο των " + maxSizeInMB + " MB");
                        this.value = "";
                    }
                });
            });
        });

    </script>
      
      
